/*** VARIABLES ***/

:root {
  /* colors */
  --white: #f3f3f3;
  --black: #030303;
  --grey: #e9e9e9;
  --dark-grey: #ebf1ffc2;
  --blue: #2980b9;
  --light-blue: #8fccf5;
  /* font */
  --primary-font-family: "Courier New", Courier, monospace;
  --secondary-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* value */
  --base-value: 1rem;
}

/*** CSS RESET ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** GLOBAL STYLES ***/

body {
  /* padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; */
  overflow-x: hidden;
  font-size: var(--base-value);
  font-family: var(--secondary-font-family);
}

header,
aside,
footer {
  background-color: var(--blue);
  color: var(--white);
  /* border-radius: 3px; */
}

header,
footer {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  background-color: var(--black);
}

main {
  min-height: 80vh;
  display: flex;
  /* gap: 1rem; */
}

/* aside,
.content {
  min-height: 88vh;
} */

/*** ASIDE SECTION ***/

aside {
  width: 30vw;
  display: flex;
  justify-content: center;
}

aside form {
  width: 15vw;
  display: flex;
  flex-direction: column;
  gap: var(--base-value);
  padding: var(--base-value);
}

/*** CONTENT SECTION ***/

.content {
  width: 100%;
  padding: /* calc(var(--base-value)/2) */ var(--base-value);
  background-color: var(--dark-grey);
  border-radius: 3px;
}

.content h2 {
  padding: 0 0 var(--base-value) 0;
}

.cars {
  border: 1px solid var(--white);
  border-radius: 3px;
  border-collapse: collapse;
}

.cars thead {
  background-color: var(--light-blue);
}

.cars tbody tr:nth-child(even) {
  background-color: var(--grey);
}

.cars tbody tr:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.cars th,
td {
  padding: calc(var(--base-value)/2);
  border: 1px solid var(--black);
}

.cars td {
  text-align: end;
}