/*** VARIABLES ***/

:root {
  /* colors */
  --white: #f3f3f3;
  --black: #030303;
  --grey: #e9e9e9;
  --dark-grey: #ebf1ffc2;
  --blue: #2980b9;
  --light-blue: #8fccf5;
  /* font */
  --primary-font-family: "Courier New", Courier, monospace;
  --secondary-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* value */
  --base-value: 1rem;
  --radius-value: 3px;
}

/*** CSS RESET ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** GLOBAL STYLES ***/

body {
  overflow-x: hidden;
  font-size: var(--base-value);
  font-family: var(--secondary-font-family);
}

header,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header, aside, footer {
  background-color: var(--blue);
  color: var(--white);
}

header {
  min-height: 20vh;
  background-color: var(--blue);
  border-bottom: 1px solid var(--white);
}

footer {
  min-height: 10vh;
  flex-direction: column;
  border-top: 1px solid var(--white);
}

main {
  min-height: 70vh;
  display: flex;
}

/*** ASIDE SECTION ***/

aside {
  width: 30vw;
  padding: calc(var(--base-value)*2) 0;
  display: flex;
  justify-content: center;
}

aside fieldset {
  height: fit-content;
  border: 1px solid var(--black);
  border-radius: var(--radius-value);
}

aside legend {
  color: var(--black);
}

aside form {
  width: 15vw;
  padding: var(--base-value);
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-value)/2);
  color: var(--black);
}

aside input {
  padding: calc(var(--base-value)/2);
}

aside hr {
  color: var(--white);
}

aside input[type = "submit"] {
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: var(--radius-value);
  color: var(--black);
}

aside input[type = "submit"]:hover {
  background-color: var(--black);
  border: 1px solid var(--blue);
  color: var(--white);
  cursor: pointer;
}

/*** CONTENT SECTION ***/

.content {
  width: 100%;
  padding: calc(var(--base-value)*2);
  background-color: var(--dark-grey);
  border-radius: var(--radius-value);
}

.content h2 {
  padding: 0 0 var(--base-value) 0;
}

.cars {
  border: 1px solid var(--white);
  border-collapse: collapse;
}

.cars thead {
  background-color: var(--blue);
  color: var(--white);
}

.cars tbody tr:nth-child(even) {
  background-color: var(--grey);
}

.cars tbody tr:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.cars th,
td {
  padding: calc(var(--base-value)/2);
  border: 1px solid var(--black);
}

.cars td {
  text-align: end;
}